<%- include('./partials/topSpeakers')  %> 

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <article class="article maincontent">
          <h1>Who are we?</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est sint adipisci odit expedita placeat cupiditate. Quae commodi a architecto sapiente vero? Beatae, non natus sequi aliquid harum velit sint corrupti.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, eum deleniti ullam ex tempore iste quia aspernatur veniam necessitatibus nemo! Voluptatibus nesciunt asperiores alias sed. Cum magni voluptates ducimus aspernatur!</p>
        </article>
        <article class="article maincontent">
          <h2 class="article-title">Get Busy!</h2>
          <p>dolor sit amet consectetur adipisicing elit dolor sit amet consectetur adipisicing elit <a
              href="http://www.meetup.com/yoseph">join our meetup group</a>,
            <a href="http://www.twitter.com/yoseph">follow us on twitter</a>. If you&apos;re in FaceBook, you can
            also <a href="http://www.facebook.com/yoseph">join our FaceBook group</a>.</p>
        </article>
      </div>

      <aside class="col-md-4">
        <article class="sidebar">
          <h1 class="sidebar-title">Who should come?</h1>
          <ul class="sidebar-body">
            <li>adipisicing elit. Est sint adipisci odit expedita placeat cupiditate</li>
            <li>Voluptatibus nesciunt asperiores alias sed</li>
            <li>dolor sit amet consectetur adipisicing elit dolor sit amet consectetur adipisicing elit</li>
          </ul>
        </article>
        <%- include('./partials/sidebarAllArtwork')  %> 
      </aside>
    </div>
  </div>
