<!DOCTYPE html>
<html>

<%- include(`./partials/head`) %>

<body>
  <header>
    <div class="jumbotron d-none d-sm-block"></div>

  <%- include('./partials/navigation') %> 

  </header>


  <%- include(`../pages/${template}`) %> 

  <%- include(`./partials/scripts`) %>  
</body>

</html>